<div>
	<img src="assets/logo.png" width="48pt">
</div>
<div>
	Генератор QR кодов для оплаты QR кодом в системе быстрых платежей (СБП) и по квитанциям(ГОСТ)
	включает минимальный набор атрибутов, необходимых для генерации QR кода для оплаты из мобильного банка.
</div>
<div>
	Это мобильное приложение для продавцов. Суть его в том, чтобы показать QR код оплаты покупателю.
	Покупатель использует свой мобильный банк для оплаты.
</div>
<div>
	Есть два типа QR кодов оплаты- ГОСТ и СБП (система быстрых платежей).
	ГОСТ применяется, например, в квитанциях Госуслуг.
	Для СБП это приложение может формировать только статический QR код (что важно, с суммой к оплате).
</div>
<div>
	У вас должен быть действующий договор с банком по приему денег на расчетный счет по реквизитам (ГОСТ) или через СБП.
	Приложение не собирает никакие данные, только показывает QR код.
	Поэтому уведомления о поступившем платеже вы получите только от вашего банка.
</div>
<h4>Как установить</h4>
<div>
	Нажмите на иконку Google Play внизу страницы или кликните <a href="https://play.google.com/store/apps/details?id=com.commandus.qrcodepaymentgenerator">сюда</a>.
</div>
<div>
	Установите приложение из магазина Google Play. Приложение бесплатно.
</div>
<div>
	При первом запуске внесите данные о вашей компании: название банка, расчетный счет. 
	Не все атрибуты нужны- это зависит от требований банка.
</div>
<div>
	<img src="assets/ss-01.png" width="400pt">
</div>

<h4>Как добавить оплату QR кодом СБП</h4>
<div>
	Получите в банке статический QR код оплаты СБП. Список банков, подерживающих оплату по QR 
	<a href="https://sbp.nspk.ru/participants/" target="_blanc">тут</a>
</div>
<div>
	Статический QR код оплаты СБП отсканируйте телефоном из меню СБП.
</div>

<h4>Как показать QR код оплаты</h4>
<div>
	Введите сумму и назначение платежа (для СБП необязательно) и дайте возможность клиенту сканировать QR код из его мобильного банка.
</div>
<div>
	<img src="assets/ss-02.png" width="400pt">
</div>
<h4>Как переключить на СБП</h4>
<div>
	Нажмите на кнопку над QR кодом (вверху). Вернуться можно точно также.
</div>
<div>
	<img src="assets/ss-03.png" width="400pt">
</div>

<h4>Как отправить QR код оплаты</h4>
<div>
	Из меню Отправить QR код можно вставить в мессенджер и любое другое приложение.
</div>
