<div fxLayout="row wrap" fxLayoutAlign="center center">
	<div class="card" fxFlex="85">
	  <mat-card>
			<mat-card-content>
				<div fxLayout="row wrap">
					<!-- Video -->
					<div class="video-row" fxFlex="100">
						<video class="video" id="video" #video autoplay playsinline></video>
					</div>
					<!-- Canvas -->
					<div fxFlex="100" style="display:none">
						<canvas class="video" id="canvas" #canvas></canvas>
					</div>
					<div fxFlex="100" fxLayoutAlign="space-around center">
						<div>
							{{errorMessage}}{{successMessage}}
						</div>
						<button mat-button (click)="setStreamFromDevice(v.deviceId)" *ngFor="let v of devices; let i = index">{{i}}</button>
						<div>
							<button mat-button (click)="cancel()">Отмена</button>
						</div>
					</div>
				</div>
			</mat-card-content>
	  </mat-card>
	</div>
  </div>